<div class="row">
    <div class="col-12 col-md-8 offset-md-2 container">
        <div class="row border-bottom registration">
            <div class="col-12 col-md-6 offset-md-3">
                <h2 class="font-weight-bold d-flex justify-content-center">会員情報入力</h2>
            </div>
        </div>

        <form [formGroup]="signupInput" (ngSubmit)="signinSubmit()">
            <div class="form-group">
                <div class="row">
                    <div class="col-10 offset-1 col-md-6 offset-md-3 d-flex justify-content-start">
                        <label for="nickname" class="font-weight-bold d-flex align-items-center">ニックネーム</label><span
                            class="form-require">必須</span>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-10 offset-1 col-md-6 offset-md-3 d-flex justify-content-start">
                        <input type="text" name="nickname" placeholder="例：田中太郎" class="form-control" formControlName="nickName">
                    </div>
                </div>
                <div class="row mt-1" [hidden]="!isSubmited || !signupInput.get('nickName').errors?.required">
                    <div class="col-10 offset-1 col-md-6 offset-md-3 d-flex justify-content-start">
                        <app-error [message]="'ニックネームを入力してください'"></app-error>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-10 offset-1 col-md-6 offset-md-3 d-flex justify-content-start">
                        <label for="email" class="font-weight-bold d-flex align-items-center">メールアドレス</label><span
                            class="form-require">必須</span>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-10 offset-1 col-md-6 offset-md-3 d-flex justify-content-start">
                        <input type="email" name="email" placeholder="PC・携帯どちらでも可" class="form-control" formControlName="email">
                    </div>
                </div>
                <div class="row mt-1" [hidden]="!isSubmited || !signupInput.get('email').errors?.required">
                    <div class="col-10 offset-1 col-md-6 offset-md-3 d-flex justify-content-start">
                        <app-error [message]="'メールアドレスを入力してください'"></app-error>
                    </div>
                </div>
                <div class="row mt-1" [hidden]="!isSubmited || !signupInput.get('email').errors?.email">
                    <div class="col-10 offset-1 col-md-6 offset-md-3 d-flex justify-content-start">
                        <app-error [message]="'フォーマットが不適切です'"></app-error>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-10 offset-1 col-md-6 offset-md-3 d-flex justify-content-start">
                        <label for="password" class="font-weight-bold d-flex align-items-center">パスワード</label><span
                            class="form-require">必須</span>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-10 offset-1 col-md-6 offset-md-3 d-flex justify-content-start">
                        <input [type]="isShowpassword ? 'text': 'password'" name="password" placeholder="8文字以上の半角英数字"
                            class="form-control" formControlName="password">
                    </div>
                </div>
                <div class="row mt-1" [hidden]="!isSubmited || !signupInput.get('password').errors?.required">
                    <div class="col-10 offset-1 col-md-6 offset-md-3 d-flex justify-content-start">
                        <app-error [message]="'パスワードを入力してください'"></app-error>
                    </div>
                </div>
                <div class="row mt-1" [hidden]="!isSubmited || !signupInput.get('password').errors?.pattern">
                    <div class="col-10 offset-1 col-md-6 offset-md-3 d-flex justify-content-start">
                        <app-error [message]="'8文字以上の半角英数字で入力してください'"></app-error>
                    </div>
                </div>
            </div>

            <div class="showPassword">
                <div class="row">
                    <div class="col-10 offset-1 col-md-6 offset-md-3 d-flex justify-content-start align-items-center">
                        <input type="checkbox" id="showpassword" class="mr-2" [value]="isShowpassword"
                            (change)="isShowpassword = !isShowpassword"><label
                            class="showPassword d-flex align-items-center" for="showpassword">パスワードを表示する</label>
                    </div>
                </div>
            </div>

            <div class="l-single-container">
                <div class="row">
                    <button type="submit"
                        class="btn btn-danger col-10 offset-1 col-md-6 offset-md-3 d-flex justify-content-center align-items-center">次へ進む</button>
                </div>
            </div>
        </form>
    </div>
</div>