<div class="row">
    <div class="login-panel col-lg-6 offset-lg-6 col-md-8 offset-md-2 col-12">

        <!-- <div class="login-form-inner">
            
            <button id="google-login" class="btn-default btn-sns btn-sns-google">
                Googleでログイン
            </button>
            <button id="facebook-login" class="btn-default btn-sns btn-sns-facebook">
                <i class="icon-facebook"></i>
                Facebookでログイン
            </button>
            <button id="apple-login" class="btn-default btn-sns btn-sns-apple">
                <i class="icon-apple"></i>
                Appleでログイン
            </button>
        </div> -->

        <form [formGroup]="loginInput" (ngSubmit)="loginSubmit()">

            <div class="login-form-inner">
                <div class="form-group">
                    <input type="email" name="email" formControlName="email" placeholder="メールアドレス"
                        class="login-input-text input-default">
                </div>
                <div class="form-group">
                    <input type="password" name="password" formControlName="password" placeholder="パスワード"
                        class="login-input-text input-default">
                </div>
                <div class="button">
                    <button type="submit" class="login-submit btn btn-primary">ログイン</button>
                </div>
                <a [routerLink]="'/forgot_password'">パスワードをお忘れの方</a>
                <div class="button login-no-account">
                    <p>アカウントをお持ちでない方はこちら</p>
                    <button type="button" class="btn btn-success" [routerLink]="['/signup']">新規会員登録</button>
                </div>
            </div>
        </form>
    </div>
</div>