<div class="row">
    <div class="col-12 col-md-8 offset-md-2 container">
        <div class="row border-bottom registration">
            <div class="col-12 col-md-6 offset-md-3">
                <h2 class="font-weight-bold d-flex justify-content-center">パスワードをお忘れの方</h2>
            </div>
        </div>

        <form (ngSubmit)="submit()">
            <div class="form-group">
                <div class="row">
                    <div class="col-10 offset-1 col-md-6 offset-md-3 d-flex justify-content-start">
                        <label for="nickname" class="font-weight-bold d-flex align-items-center">メールアドレス</label>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-10 offset-1 col-md-6 offset-md-3 d-flex justify-content-start">
                        <input [style.border]="isSubmited && email.errors ? statics.errorBorder : ''" type="text" name="nickname" placeholder="ご登録されたメールアドレス" class="form-control" [formControl]="email">
                    </div>
                </div>
                <div class="row mt-1" [hidden]="!isSubmited || !email.errors?.required">
                    <div class="col-10 offset-1 col-md-6 offset-md-3 d-flex justify-content-start">
                        <!-- <app-error [message]="'ニックネームを入力してください'"></app-error> -->
                    </div>
                </div>
            </div>

            <div class="l-single-container">
                <div class="row">
                    <button type="submit"
                        class="btn btn-danger col-10 offset-1 col-md-6 offset-md-3 d-flex justify-content-center align-items-center">送信する</button>
                </div>
            </div>
        </form>
    </div>
</div>