.l-single-container {
    background-color: white;
    padding: 40px 40px 64px;
}

.form-require {
    font: 66.66667% sans-serif;
    cursor: auto;
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
    box-sizing: inherit;
    line-height: inherit;
    border-style: solid;
    border-width: 0;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
    background: #ea352d;
}

label, h2{
    margin: 0;
    font-weight: 600;
}

.registration {
    padding: 16px 0px;
}

.form-group {
    margin-top: 24px;
}

.container {
    background-color: white;
}

.resend-message {
    color: #ea352d;
    margin-bottom: 1rem;
}