<nav class="d-flex justify-content-around">
    <div>
        <img src="" alt="ロゴ">
        <a [hidden]="isSmartPhone" href="">Page1</a>
        <a [hidden]="isSmartPhone" href="">Page2</a>
        <a [hidden]="isSmartPhone" href="">Page3</a>
        <a [hidden]="isSmartPhone" href="">Page4</a>
    </div>
    <div>
        <span mat-button [matMenuTriggerFor]="menu">
            ▽
        </span>
        <mat-menu #menu="matMenu">
            <button *ngIf="isSmartPhone" mat-menu-item>Page1</button>
            <button *ngIf="isSmartPhone" mat-menu-item>Page2</button>
            <button *ngIf="isSmartPhone" mat-menu-item>Page3</button>
            <button *ngIf="isSmartPhone" mat-menu-item>Page4</button>
            <button (click)="logout()" mat-menu-item>Logout</button>
        </mat-menu>
    </div>
</nav>