<!-- 参考：https://ziyuss.jp/header-responsive-html/ -->

<header>
    <div class="container-a">
        <h1>SampleWebApp</h1>
        <nav id="Header-Nav" class="header-nav">
            <a href="" class="nav-list">Link</a>
            <a href="" class="nav-list">About</a>
            <a href="" class="nav-list">Profile</a>
            <a href="" class="nav-list">Contact</a>
        </nav>
        <div id="Hamburger" class="hamburger">
            <div></div>
            <div></div>
            <div></div>
            <p>MENU</p>
        </div>
    </div>
</header>