<div class="row">
    <div class="col-12 col-md-8 offset-md-2 container">
        <div class="row border-bottom registration">
            <div class="col-12 col-md-6 offset-md-3">
                <h2 class="font-weight-bold d-flex justify-content-center">会員情報入力</h2>
            </div>
        </div>

        <form [formGroup]="confirmInput" (ngSubmit)="signinSubmit()">
            <div class="form-group">
                <div class="row">
                    <div class="col-10 offset-1 col-md-6 offset-md-3 d-flex justify-content-start">
                        <label for="nickname" class="font-weight-bold d-flex align-items-center">認証番号</label>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-10 offset-1 col-md-6 offset-md-3 d-flex justify-content-start">
                        <input [style.border]="isSubmited && confirmInput.errors ? statics.errorBorder : ''" type="text" name="nickname" placeholder="認証番号を入力" class="form-control" [formControl]="confirmInput">
                    </div>
                </div>
                <div class="row mt-1" [hidden]="!isSubmited || !confirmInput.errors?.required">
                    <div class="col-10 offset-1 col-md-6 offset-md-3 d-flex justify-content-start">
                        <p>メールに届いた認証コードを入力してください</p>
                    </div>
                </div>
                <div class="row mt-1" [hidden]="!isSubmited || !confirmInput.errors?.required">
                    <div class="col-10 offset-1 col-md-6 offset-md-3 d-flex justify-content-start">
                        <app-error [message]="'入力してください'"></app-error>
                    </div>
                </div>
            </div>

            <div class="l-single-container">
                <div class="row">
                    <button type="submit"
                        class="btn btn-danger col-10 offset-1 col-md-6 offset-md-3 d-flex justify-content-center align-items-center">認証して完了</button>
                </div>
            </div>
        </form>
    </div>
</div>