.container {
    background-color: white;
}

.l-single-container {
    background-color: white;
    padding: 40px 40px 64px;
}

.form-group {
    margin-top: 24px;
}

label, h2{
    margin: 0;
    font-weight: 600;
}