<app-form-field [id]="'fieldA'" [name]="'フィールドA'" [fieldType]="'input'" (changeValue)="catchFormData('fieldA', $event)"></app-form-field>
<app-form-field [id]="'fieldA'" [name]="'フィールドB'" [fieldType]="'input'" [inputType]="'number'" (changeValue)="catchFormData('fieldB', $event)"></app-form-field>
<app-form-field [id]="'fieldB'" [name]="'フィールドC'" [fieldType]="'select'" [options]="options" (changeValue)="catchFormData('fieldC', $event)"></app-form-field>
<app-form-field [id]="'fieldC'" [name]="'日付選択'" [fieldType]="'datePicker'" (changeValue)="catchFormData('fieldB', $event)"></app-form-field>